/*
 *= require bootstrap
 *= require font-awesome
 *= require magnific-popup
 *= require creative
 *= require_tree .
 */

.ar-4x3 {
  display: inline-block;
  position: relative;
  &:after {
    padding-top: 75%;
    /* 16:9 ratio */
    display: block;
    content: '';
  }
  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* let's see it! */
    color: white;
  }
}
